<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>loginProcess</servlet-name>
        <servlet-class>asm4.servlet.loginProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpProcess</servlet-name>
        <servlet-class>asm4.servlet.SignUpProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>asm4.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>asm4.servlet.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WriterServlet</servlet-name>
        <servlet-class>asm4.servlet.WriterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPostServlet</servlet-name>
        <servlet-class>asm4.servlet.ShowPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>asm4.servlet.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDirectServlet</servlet-name>
        <servlet-class>asm4.servlet.EditDirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>asm4.servlet.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginProcess</servlet-name>
        <url-pattern>/loginProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpProcess</servlet-name>
        <url-pattern>/SignUpProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WriterServlet</servlet-name>
        <url-pattern>/WriterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPostServlet</servlet-name>
        <url-pattern>/ShowPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/DetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDirectServlet</servlet-name>
        <url-pattern>/EditDirectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ShowPostServlet</welcome-file>
    </welcome-file-list>
</web-app>
