<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>TourMainController</servlet-name>
        <servlet-class>anhpnk.controllers.tours.TourMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTourByCategoryController</servlet-name>
        <servlet-class>anhpnk.controllers.tours.SearchTourByCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTourDetailsController</servlet-name>
        <servlet-class>anhpnk.controllers.tours.ViewTourDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTourByDestinationController</servlet-name>
        <servlet-class>anhpnk.controllers.tours.SearchTourByDestinationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderMainController</servlet-name>
        <servlet-class>anhpnk.controllers.orders.OrderMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountMainController</servlet-name>
        <servlet-class>anhpnk.controllers.accounts.AccountMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>anhpnk.controllers.accounts.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLoginController</servlet-name>
        <servlet-class>anhpnk.controllers.accounts.CheckLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassengerMainController</servlet-name>
        <servlet-class>anhpnk.controllers.passengers.PassengerMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterPassenegerController</servlet-name>
        <servlet-class>anhpnk.controllers.passengers.EnterPassenegerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListPassengersController</servlet-name>
        <servlet-class>anhpnk.controllers.passengers.GetListPassengersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>anhpnk.controllers.orders.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>anhpnk.controllers.accounts.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMyOrderController</servlet-name>
        <servlet-class>anhpnk.controllers.orders.ViewMyOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNearestTourController</servlet-name>
        <servlet-class>anhpnk.controllers.tours.SearchNearestTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderDetailController</servlet-name>
        <servlet-class>anhpnk.controllers.orders.ViewOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderController</servlet-name>
        <servlet-class>anhpnk.controllers.orders.CancelOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerMainController</servlet-name>
        <servlet-class>anhpnk.controllers.customers.CustomerMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMyInformationController</servlet-name>
        <servlet-class>anhpnk.controllers.customers.GetMyInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchScheduleTourController</servlet-name>
        <servlet-class>anhpnk.controllers.tours.SearchScheduleTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListPassengerController</servlet-name>
        <servlet-class>anhpnk.controllers.passengers.ViewListPassengerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerInformationController</servlet-name>
        <servlet-class>anhpnk.controllers.customers.UpdateCustomerInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>anhpnk.controllers.accounts.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetValidTourGuideController</servlet-name>
        <servlet-class>anhpnk.controllers.tours.GetValidTourGuideController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTourController</servlet-name>
        <servlet-class>anhpnk.controllers.tours.InsertTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayOrderController</servlet-name>
        <servlet-class>anhpnk.controllers.orders.PayOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnMoneyController</servlet-name>
        <servlet-class>anhpnk.controllers.orders.ReturnMoneyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOverDateOrderController</servlet-name>
        <servlet-class>anhpnk.controllers.orders.GetOverDateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DestroyOverDateOrderController</servlet-name>
        <servlet-class>anhpnk.controllers.orders.DestroyOverDateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTourForUpdateController</servlet-name>
        <servlet-class>anhpnk.controllers.tours.GetTourForUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTourDetailsController</servlet-name>
        <servlet-class>anhpnk.controllers.tours.GetTourDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffMainController</servlet-name>
        <servlet-class>anhpnk.controllers.staffs.StaffMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStaffInformationController</servlet-name>
        <servlet-class>anhpnk.controllers.staffs.GetStaffInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffInformationController</servlet-name>
        <servlet-class>anhpnk.controllers.staffs.UpdateStaffInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourGuideMainController</servlet-name>
        <servlet-class>anhpnk.controllers.tourguides.TourGuideMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTourGuideInformationController</servlet-name>
        <servlet-class>anhpnk.controllers.tourguides.GetTourGuideInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTourGuideInformationController</servlet-name>
        <servlet-class>anhpnk.controllers.tourguides.UpdateTourGuideInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageController</servlet-name>
        <servlet-class>anhpnk.controllers.tours.UploadImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>anhpnk.controllers.accounts.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTourController</servlet-name>
        <servlet-class>anhpnk.controllers.tours.UpdateTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountController</servlet-name>
        <servlet-class>anhpnk.controllers.accounts.SearchAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountInformationController</servlet-name>
        <servlet-class>anhpnk.controllers.accounts.ViewAccountInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerByAdminController</servlet-name>
        <servlet-class>anhpnk.controllers.customers.UpdateCustomerByAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerByAdminController</servlet-name>
        <servlet-class>anhpnk.controllers.customers.DeleteCustomerByAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffByAdminController</servlet-name>
        <servlet-class>anhpnk.controllers.staffs.UpdateStaffByAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffByAdminController</servlet-name>
        <servlet-class>anhpnk.controllers.staffs.DeleteStaffByAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTourGuideByAdminController</servlet-name>
        <servlet-class>anhpnk.controllers.tourguides.UpdateTourGuideByAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTourGuideByAdminController</servlet-name>
        <servlet-class>anhpnk.controllers.tourguides.DeleteTourGuideByAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountController</servlet-name>
        <servlet-class>anhpnk.controllers.accounts.CreateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCustomerByAdminController</servlet-name>
        <servlet-class>anhpnk.controllers.customers.InsertCustomerByAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertStaffByAdminController</servlet-name>
        <servlet-class>anhpnk.controllers.staffs.InsertStaffByAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTouguideByAdminController</servlet-name>
        <servlet-class>anhpnk.controllers.tourguides.InsertTouguideByAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TourMainController</servlet-name>
        <url-pattern>/TourMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTourByCategoryController</servlet-name>
        <url-pattern>/SearchTourByCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTourDetailsController</servlet-name>
        <url-pattern>/ViewTourDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTourByDestinationController</servlet-name>
        <url-pattern>/SearchTourByDestinationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderMainController</servlet-name>
        <url-pattern>/OrderMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountMainController</servlet-name>
        <url-pattern>/AccountMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLoginController</servlet-name>
        <url-pattern>/CheckLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassengerMainController</servlet-name>
        <url-pattern>/PassengerMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterPassenegerController</servlet-name>
        <url-pattern>/EnterPassenegerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListPassengersController</servlet-name>
        <url-pattern>/GetListPassengersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMyOrderController</servlet-name>
        <url-pattern>/ViewMyOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNearestTourController</servlet-name>
        <url-pattern>/SearchNearestTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderDetailController</servlet-name>
        <url-pattern>/ViewOrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderController</servlet-name>
        <url-pattern>/CancelOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerMainController</servlet-name>
        <url-pattern>/CustomerMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMyInformationController</servlet-name>
        <url-pattern>/GetMyInformationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchScheduleTourController</servlet-name>
        <url-pattern>/SearchScheduleTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListPassengerController</servlet-name>
        <url-pattern>/ViewListPassengerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerInformationController</servlet-name>
        <url-pattern>/UpdateCustomerInformationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetValidTourGuideController</servlet-name>
        <url-pattern>/GetValidTourGuideController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTourController</servlet-name>
        <url-pattern>/InsertTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayOrderController</servlet-name>
        <url-pattern>/PayOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnMoneyController</servlet-name>
        <url-pattern>/ReturnMoneyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOverDateOrderController</servlet-name>
        <url-pattern>/GetOverDateOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DestroyOverDateOrderController</servlet-name>
        <url-pattern>/DestroyOverDateOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTourForUpdateController</servlet-name>
        <url-pattern>/GetTourForUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTourDetailsController</servlet-name>
        <url-pattern>/GetTourDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffMainController</servlet-name>
        <url-pattern>/StaffMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStaffInformationController</servlet-name>
        <url-pattern>/GetStaffInformationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffInformationController</servlet-name>
        <url-pattern>/UpdateStaffInformationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourGuideMainController</servlet-name>
        <url-pattern>/TourGuideMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTourGuideInformationController</servlet-name>
        <url-pattern>/GetTourGuideInformationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTourGuideInformationController</servlet-name>
        <url-pattern>/UpdateTourGuideInformationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImageController</servlet-name>
        <url-pattern>/UploadImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTourController</servlet-name>
        <url-pattern>/UpdateTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountController</servlet-name>
        <url-pattern>/SearchAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccountInformationController</servlet-name>
        <url-pattern>/ViewAccountInformationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerByAdminController</servlet-name>
        <url-pattern>/UpdateCustomerByAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerByAdminController</servlet-name>
        <url-pattern>/DeleteCustomerByAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffByAdminController</servlet-name>
        <url-pattern>/UpdateStaffByAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffByAdminController</servlet-name>
        <url-pattern>/DeleteStaffByAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTourGuideByAdminController</servlet-name>
        <url-pattern>/UpdateTourGuideByAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTourGuideByAdminController</servlet-name>
        <url-pattern>/DeleteTourGuideByAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountController</servlet-name>
        <url-pattern>/CreateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCustomerByAdminController</servlet-name>
        <url-pattern>/InsertCustomerByAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertStaffByAdminController</servlet-name>
        <url-pattern>/InsertStaffByAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTouguideByAdminController</servlet-name>
        <url-pattern>/InsertTouguideByAdminController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>TourMainController</welcome-file>
    </welcome-file-list>
</web-app>
