<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>cm.filter.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ShowMachineController</servlet-name>
        <servlet-class>cm.controllers.ShowMachineController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSaleByPriceController</servlet-name>
        <servlet-class>cm.controllers.SearchSaleByPriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSaleByNameController</servlet-name>
        <servlet-class>cm.controllers.SearchSaleByNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSaleController</servlet-name>
        <servlet-class>cm.controllers.ShowSaleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>cm.controllers.ContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>cm.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>cm.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountNameController</servlet-name>
        <servlet-class>cm.controllers.SearchAccountNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAccountController</servlet-name>
        <servlet-class>cm.controllers.ShowAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductController</servlet-name>
        <servlet-class>cm.controllers.ManageProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductNameController</servlet-name>
        <servlet-class>cm.controllers.SearchProductNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>cm.controllers.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmUpdateProfileController</servlet-name>
        <servlet-class>cm.controllers.ConfirmUpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>cm.controllers.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmUpdateProductController</servlet-name>
        <servlet-class>cm.controllers.ConfirmUpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProductController</servlet-name>
        <servlet-class>cm.controllers.InsertProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>cm.controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>cm.controllers.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>cm.controllers.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemController</servlet-name>
        <servlet-class>cm.controllers.RemoveItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>cm.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>cm.controllers.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmEditProfileController</servlet-name>
        <servlet-class>cm.controllers.ConfirmEditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProductImageController</servlet-name>
        <servlet-class>cm.controllers.ChangeProductImageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowMachineController</servlet-name>
        <url-pattern>/ShowMachineController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchAllByNameController</servlet-name>
        <servlet-class>cm.controllers.SearchAllByNameController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchAllByNameController</servlet-name>
        <url-pattern>/SearchAllByNameController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchAllByPriceController</servlet-name>
        <servlet-class>cm.controllers.SearchAllByPriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccountController</servlet-name>
        <servlet-class>cm.controllers.ManageAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchAllByPriceController</servlet-name>
        <url-pattern>/SearchAllByPriceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSaleByPriceController</servlet-name>
        <url-pattern>/SearchSaleByPriceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSaleByNameController</servlet-name>
        <url-pattern>/SearchSaleByNameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSaleController</servlet-name>
        <url-pattern>/ShowSaleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/ContactController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountNameController</servlet-name>
        <url-pattern>/SearchAccountNameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAccountController</servlet-name>
        <url-pattern>/ShowAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccountController</servlet-name>
        <url-pattern>/ManageAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductController</servlet-name>
        <url-pattern>/ManageProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductNameController</servlet-name>
        <url-pattern>/SearchProductNameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/UpdateProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmUpdateProfileController</servlet-name>
        <url-pattern>/ConfirmUpdateProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/UpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmUpdateProductController</servlet-name>
        <url-pattern>/ConfirmUpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProductController</servlet-name>
        <url-pattern>/InsertProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/ViewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemController</servlet-name>
        <url-pattern>/RemoveItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/EditProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmEditProfileController</servlet-name>
        <url-pattern>/ConfirmEditProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProductImageController</servlet-name>
        <url-pattern>/ChangeProductImageController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
